#root {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #c4c4c4 0%,#e2e2e2 40%,#b3bead 100%);
}

.round {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    font-weight:bold;
    font-size: 2em;
    text-align: center;
}